<div class="row img-rounded">
  <br><br>
  <hr><small>
  <p><u><strong>Contact Us</strong></u><br>
    Alejandro Braun<br>
    admin@unifytoday.com</p>
  <p><u><strong>Notice</strong></u><br>
    While we make every effort to keep this site and its contents up to date, we do not make any guarantees or warranties to the accuracy or completeness of the contents of Unifytoday.com. Reference in this site to any specific product, process, or service, or the use of any name is purely for informational purposes and convenience of the public, and does not constitute the endorsement or recommendation of any product or individual.
  </p><br>
  <p><font size="3"><u><strong>Our Partners</strong></u></font>
  </p>
  <p>Hosting generously provided by our friends at DigitalOcean</p>
  <a href="https://www.digitalocean.com/">
  <img src="/static/uploads/DO_Logo_Horizontal_Blue.png" width="250px" alt="Digital Ocean"></img></a>
  <br><br>
  
  <p>Copyright 2020© Alejandro Braun, All Rights Reserved</p>

  
                                                           <hr><small>
</div>
