{% extends "appbuilder/base.html" %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <style>
     .masthead {
         height: 50vh;
         min-height: 500px;
         /* background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1080'); */
         /* background-image: url('https://i.ibb.co/tHjN9BQ/abstract-1438441-1280.png"); */
         /* background-image: url('https://i.ibb.co/zSn9fJJ/abstract-1438437.png'); */
         background-image: url('/static/uploads/homepage_background.png');
         /* background-image: url('https://www.youtube.com/watch?v=kyJUQuaECrg'); */
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         padding-top: 25vh;
         padding-bottom: 25vh;
     }
    </style>
{% endblock %}

{% block head_js %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
{% endblock %}
{% block content %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-heavy">Makers Unifying Today for the Common Good.</h1>
                    <p class="lead">Improving the flow of communication between local PPE producers and medical professionals.</p>
                </div>
            </div>
        </div>
    </header>
    <br><br>
    <div>
        <h2 style="text-align:center;">Our Resources</h2>
        <br>
        <div class="container">
	    <div class="row">
	        <div class="col-md-6 text-center">
                    <a href="/neededitems">
		        <span class="fa fa-map fa-5x"> </span>
		        <h3>Needed Products Map</h3>
                    </a>
	        </div>
                <div class="col-md-6 text-center">
                    <a href="/producers">
		        <span class="fa fa-map fa-5x"> </span>
		        <h3>Producers Map</h3>
                    </a>
	        </div>


	    </div>

        </div>
    <hr>


    <h2>How Can I Help?</h2>
    <h3>Register</h3>
    <ol>
        <li>Click the "Login" Button</li>
        <li>Click on "Register" and fill out the form</li>
        <li>Check your email for the account activation email and click the link</li>
        <li>You are now registered on Unifytoday.com and can log in!</li>
    </ol>
    <h3>How can I add a production capability?</h3>
    <ol>
        <li>Login using your username and password</li>
        <li>Under the "Producers" tab, Click "Add Production Capability"</li>
        <li>Fill Out and Submit the form and you're done!</li>
    </ol>
    <p>Note: While the Production Capabilities form asks for your address, the resulting GPS location for the map is obfuscated by up to several miles. Your address will be stored in our database to ensure data accuracy, but will not be accessible to other users.</p>
    <h3>How can I produce a needed product?</h3>
    <ol>
        <li>Log in and make sure you have created a production capability profile</li>
        <li>On any required item listing, click "Register for Job"</li>
        <li>Fill out the form and update your job status once the items have shipped or been delivered</li>
    </ol>
    <h3>How can I add a needed product?</h3>
    <ol>
        <li>Login using your username and password</li>
        <li>Under the "Needed Products" tab, Click "Add Product Request"</li>
        <li>Fill Out and Submit the form and you're done!</li>
    </ol>
    <br>
    <br>
        <p>If you would like offer technical expertise, this site is licensed under the BSD-3-Clause and we welcome your contributions. Source code can be found at <a href="https://bitbucket.org/alejandrorbraun/statiflow/src/master/"> Bitbucket Here</a>.</p>

        <h2>COVID-19 Resources</h2>
        <ul>
            <li><a href="https://www.google.com/covid19/">Google COVID-19 Information & Resources</a></li>
            <li><a href ="https://www.coronavirus.gov/">Coronavirus.gov</a></li>
            <li><a href="https://3dprintingindustry.com/news/3d-printing-community-responds-to-covid-19-and-coronavirus-resources-169143/">3d Printing Community Responds to Covid-19 And Coronavirus Resoures</a></li>
        </ul>

        </div>
    </div>

    
{% endblock %}
