{% extends "appbuilder/base.html" %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css"/>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

{% endblock %}
{% block head_js %}
    {{ super() }}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.1.0/dist/leaflet.markercluster-src.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

{% endblock %}


{% block content %}
    <h2><center>Needed Items Near You</center></h2>
    <div id="mapid" style="height:80vh;width:100%"</div>
    <script>
        var mymap = L.map('mapid', {fullscreenControl: true});
        L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}{r}.{ext}', {
	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
	subdomains: 'abcd',
	minZoom: 0,
	maxZoom: 20,
	ext: 'png'
        }).addTo(mymap);
        
        mymap.locate({setView: true, maxZoom: 10});
        /* function onLocationFound(e) {
        *     var radius = e.accuracy;
        
        *     L.marker(e.latlng).addTo(mymap)
        *      .bindPopup("You are within " + radius + " meters from this point").openPopup();
        
        *     L.circle(e.latlng, radius).addTo(mymap);
        * }
        
        * mymap.on('locationfound', onLocationFound);
        */
        
        function onLocationError(e) {
        alert(e.message);
        }
        
        mymap.on('locationerror', onLocationError);
        var markers = L.markerClusterGroup({chunkedLoading: true});
        var markerList = [];
        
        {% for item in listing_items %}
            var marker = L.marker(L.latLng({{item['latitude']}}, {{item['longitude']}}));

            thehtml = "<strong>Item: </strong> {{item['item_name']}}"+" <strong>Quantity:</strong> "+"{{item['units_needed']}}"+"<br><strong>Organization:</strong> "+"{{item['organization']}}"+"<br><strong>Contact:</strong> "+"{{item['point_of_contact']}}"+"<br>"+"{{item['phone']}}"+" | "+"{{item['email']}}"+"<br>"+"{{item['street_address']}}"+", "+"{{item['city']}}"+", "+"{{item['state_or_region']}}"+", "+"{{item['Country']}}"+"<br> <strong>Lat:</strong> "+"{{item['latitude']}}"+" <strong>Lng: </strong> "+"{{item['longitude']}}<br><a href='/allneededproductview/show/{{item['id']}}'>View Full Listing</a>";

     /* marker.bindPopup(listing_info); */
     marker.bindPopup(thehtml, {maxWidth : 250});
     markerList.push(marker);
     {% endfor %}
     markers.addLayers(markerList);
     mymap.addLayer(markers);
    </script>
{% endblock %}
